#join-body{
  position: relative;
  width: 100%;
  width: 100%;
  height: 100%;
  margin: 80px auto 75px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

#joinAll {
  position: absolute;
  /* border: 2px solid rgb(129, 129, 129);
  background-color: rgb(245, 245, 245); */
  width: 1080px;
  height: 100%;/*이것변경테스트*/
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  
}
.join-form{
  font-family: Pretendard-ExtraLight;
  font-size: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.join-page-logo:hover{
  cursor: pointer;
}
.join-content {
  overflow: scroll;
  padding: 10px;
  font-size: 20px;
  line-height: 180%;
  width: 800px;
  max-height: 200px;

  border: 1px solid #000;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}
#button-container{
display: flex;
width: 300px;
flex-direction: row;
justify-content: space-around;
  text-align: center;
  
}
.check-all-container{
  width: 1080px;
  padding-left: 130px ;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.check-box{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#cancel,
#accept {
  border: 1px solid rgb(211, 211, 211);
  width: 120px;
  height: 50px;
  background-color: white;
  font-size: 18px;
  margin-top: 20px;
}
#cancel:hover, #accept:hover{
  cursor: pointer;
}
@media screen and (max-width: 980px){
  #joinAll,
  .join-content {
    width: 100%;
  }
}
